/* wrapper */
.vjs-playlist {
    width: 100%;
    background-color: #2D2D2D;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.vjs-playlist.vjs-playlist-bottom {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.vjs-playlist.vjs-playlist-right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* list */
.vjs-playlist ul {
    padding: 0;
}


/* track */
.vjs-track {
    color: #F7F9FC;
    padding: 1em;
    cursor: pointer;
    background-color: #2D2D2D;
    font-size: 16px;
    transition-property: background-color;
    transition-duration: .4s;
    list-style: none;
    display: block;
    width: 100%;
}

.vjs-track:hover {
    color: #315B7E;
    background-color: #373737;
    transition-duration: .1s;
    transition-property: background-color;
}

/* current track */
.currentTrack {
    color: #F7F9FC;
}

.currentTrack {
    background-color: #474747;
}
